// Normally mainpage styles
 
 /*----------header----------*/

 .header{
  position: relative;
  height: 120px;
  background: #fff;
  z-index: 3;
  padding-top: 7px;
 }
	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }
  .bnr{
    padding-top:26px;
    background-position: top center;
    background-size:cover;
    background-repeat:no-repeat;
    color: #fff;
    h1{
      color: #ffffff;
      font-size:60px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
      padding-bottom:40px;
      line-height:1.1;
      font-weight: 700;
    }
    h2{
      font-size: 55px;
      color: #ffffff;
      text-align: center;
      padding-bottom: 120px;
    }
    h3{
      font-size: 58px;
      color: #ffffff;
      text-align: center;
      padding-bottom: 30px;
    }
    article{
      font-size: 24px;
      text-align: center;
      color: #ffffff;
      font-weight: 300;
      padding-bottom: 60px;
      strong{
        display: block;
        font-size: 30px;
      }
      a.button{
        margin-top: 30px;
        text-shadow: none;
        min-width: 120px;
      }
    }
    &__text{
      margin-bottom:85px;
      font-size:30px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    }
    &__form{
      background: rgba(0,0,0,0.23);
      padding:20px;
      h4{
        text-align: center;
        font-size:30px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
        text-transform: uppercase;
        padding-bottom:30px;
        font-weight: 300;
      }
      input, select{
        width:100%;
        height:43px;
        margin-bottom:30px;
      }
      .button{
        width:100%;
      }
    }
    &__btn{
      padding-top: 60px;
      .button{
        text-transform: uppercase;
        padding-top: 18px;
        padding-bottom: 18px;
        width: 297px;
        box-shadow: 0 7px 13px rgba(251, 205, 4, 0.36);
      }
    }
    &.bnr-success, &.bnr-thank{
      .bnr__text{
        margin-bottom: 0;
      }
    }
    &.bnr-thank{
      padding: 155px 0;
      h4{
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
        color: #ffffff;
        font-size: 58px;
        font-weight: 700;
        letter-spacing: 0.58px;
        text-align: center;
        line-height: 1.1;
        margin-bottom: 100px;
      }
      select, input{
        opacity: 1;
        color: #000000;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        width: 163px;
        height: 51px;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.75);
        border: none;
        padding: 0 17px;
        margin: 0 13px;
        border-radius: 0;
        background: #fff;
        &.input-date{
          background: #fff url(../img/calendar-plus-o.png) no-repeat center right 12px;
        }
      }
    }
  }
  .download-button{
    padding: 20px 0 60px 0;
    text-align: center;
    .text_center{
      padding-bottom: 25px;
    }
    .button{
      text-shadow: none;
    }
  }
    .logo{
      text-align: center;
      display: block;
      padding-bottom:69px;
    }
  .about{
    padding:50px 0;
    background: url(../img/note.png) no-repeat 45px 35px, url(../img/dots.png) no-repeat top left;
    article{
      text-align: center;
      font-size:16px;
      color: #383838;
      font-weight:300;
      padding-bottom:55px;
      h2{
        font-weight:300;
        padding-bottom:40px;
        color: #212020;
        font-size:36px;
      }
    }
    &__item{
      border:1px solid #dedede;
      border-radius:3px;
      background: #fff;
      padding:15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:24px;
      color: #1f1f1f;
      figcaption{
        padding-left:16px;
      }
    }
  }
  .info{
    background: url(../img/footer-bg.png) no-repeat bottom center;
    height:649px;
    display: flex;
    font-size:18px;
    font-weight: 300;
    color: #fff;
    align-items: flex-end;
    &.info-success{
      background: url(../img/success-info-bg.jpg) no-repeat center;
      background-size: cover;
      height: 210px;
      align-items: center;
      p{
        padding-bottom: 0;
      }
    }
    &.info-success-thank{
      background: url(../img/info-thank.jpg) no-repeat center;
      background-size: cover;
    }
    p{
      padding-bottom:23px;
      text-align: center;
      padding-top:10px;
      line-height:2;
    }
    strong{
      display: block;
      font-size:36px;
      padding-top:20px;
      font-weight: 300;
      text-align: right;
    }
  }
  .bnr-information-wrapper{
    display: flex;
    flex-direction: column;
    & > .container{
      flex: 1;
    }
    .info{
      background-image: url(../img/info-opacity.png);
    }
  }
  .modal{
    background: #fff;
    display: none;
    padding: 0;
    width: 720px;
    .fancybox-close-small{
      color: #fff;
      font-size: 22px; 
    }
    &__title{
      background: url(../img/modal-bg1.jpg) no-repeat center ;
      background-size: cover;
      text-align: center;
      color: #ffffff;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 35px;
      h6{
        color: #ffffff;
        font-size: 30px;
        font-weight: 300;
        padding: 110px 0 25px 0;
      }
    }
    &__form{
      padding: 0 18px 22px 18px;
    }
    &__form-item{
      margin-bottom: 21px;
      input{
        width: 100%;
        height: 43px;
        border: 1px solid rgba(0, 0, 0, 0.12);
         background-color: #f4f7f8;
        color: #1a1a1a;
      }
      .button{
        min-width: 320px;
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }
  }

/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
   padding:25px 0;
   background: #1f1e1b;
   font-size:12px;
   text-transform: uppercase;
   address{
     color: #fff;
     font-style: normal;
   }
   &__nav{
     text-align: right;
     a{
       padding:0 0 0 5px;
       &:hover{
         opacity:0.9;
       }
     }
   }
 }

/*----------end footer----------*/