// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1200px) {
  .bnr h1{
    font-size:40px;
  }
  img{
    max-width:100%;
  }
  .foot_right{
		width: 100%;
		float: none;
		clear: both;
		text-align: center;
		padding-top: 20px;
  }
  .foot_center{
    float: right;
  }
  .foot_left{
    padding: 0 0 30px 0 ;
  }
}

@include mq($max-width: 992px) {
  .bnr{
    &__text{
      text-align: center;
    }
    h2, h3{
      padding-bottom: 30px;
      font-size: 35px;
    }
  }
  .bnr article strong{
    font-size: 25px;
  }
  .bnr article{
    font-size: 20px;
  }
  .about__item{
    display: block;
    text-align: center;
    height:100%;
    figcaption{
      padding-left:0;
    }
    img{
      display: block;
      margin:20px auto;
    }
  }
  .info strong{
    font-size: 30px;
  }
  .bnr.bnr-thank{
    padding: 40px 0;
    .logo img{
      max-width: 40%;
    }
  }
  .bnr.bnr-thank h4{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .modal{
    max-width: 90%;
  }
  .modal__form-item .button{
    min-width: 10px;
  }
}

@include mq($max-width: 767px) {
  .logo{
    padding-bottom:25px;
  }
  .bnr{
    h1, h4{
      font-size:24px;
      padding-bottom:20px;
    }
    &__text{
      font-size:18px;
      margin-bottom:30px;
    }
  }
  .bnr__form h4{
    font-size:24px;
  }
  .about__item{
    margin-bottom:25px;
    height:auto;
  }
  .about article h2{
    font-size:26px;
    padding-bottom:20px;
  }
  .info {
    height:580px;
    padding-bottom:20px;
    img{
      display: block;
      margin:0 auto;
    }
    p{
      padding-bottom:0;
    }
    strong{
      text-align: center;
      font-size:24px;
    }
  }
  .footer{
    text-align: center;
  }
  .footer__nav{
    text-align: center;
    padding-top:15px;
    a{
      padding-left:3px;
      padding-right:3px;
    }
  }
  .about{
    background:  url(../img/dots.png) no-repeat top left;
  }
  .info.info-success{
    height: auto;
    padding: 20px 0;
  }
  .header{
    height: auto;
    padding: 10px 0;
  }
  .bnr.bnr-thank select, .bnr.bnr-thank input{
    margin-bottom: 15px;
    font-size: 16px;
  }
  .bnr.bnr-thank h4{
    font-size: 21px;
  }
  .header-light{
    margin-bottom: 50px;
  }
  .bnr-light{
    padding-bottom: 0;
  }
  .foot_left, .foot_center{
    float: none;
    width: 100%;  
    padding: 0 0 30px 0;
  }
}