@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
  src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
  src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

/*! normalize.css v6.0.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none; } }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */ }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

[hidden] {
  display: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  resize: vertical; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

body {
  padding: 0;
  margin: 0;
  font-family: "Museo", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4; }

nav ul, nav ol {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.button {
  background: #fbcd04;
  border-radius: 0px;
  font-family: "Museo", sans-serif;
  color: #1d1d1d;
  font-size: 18px;
  padding: 11px 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  font-weight: 700;
  display: inline-block;
  -webkit-appearance: none; }
  .button:hover {
    background: #e2b800; }

input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], select, textarea {
  width: 300px;
  height: 43px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  font-family: "Museo", sans-serif;
  border: 1px solid #f5c806;
  border-radius: 2px;
  resize: none;
  font-weight: 300;
  background: #333333; }
  input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, input[type=password]:focus, input[type=date]:focus, input[type=url]:focus, select:focus, textarea:focus {
    box-shadow: 0 0 2px #f5c806; }
  input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, select.red_input, textarea.red_input {
    box-shadow: 0 0 2px  #ff2d50;
    background: #fdc4ce; }

input::-webkit-input-placeholder {
  color: inherit; }

textarea::-webkit-input-placeholder {
  color: inherit; }

input:-moz-placeholder {
  color: inherit; }

textarea:-moz-placeholder {
  color: inherit; }

textarea {
  height: 90px;
  padding-top: 5px; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.float_left {
  float: left !important; }

.float_right {
  float: right !important; }

.float_none {
  float: none !important; }

.text_right {
  text-align: right !important; }

.text_center {
  text-align: center !important; }

.text_left {
  text-align: left !important; }

.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.fixed {
  position: fixed !important; }

.background_none {
  background: none !important; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.hidden {
  display: none; }

.alignleft, img.alignleft {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px; }

.alignright, img.alignright {
  float: right;
  padding-left: 10px;
  padding-bottom: 5px; }

.aligncenter, img.aligncenter {
  text-align: center;
  margin: 0 auto; }

.alignnone, img.alignnone {
  float: none; }

.ttn {
  text-transform: none !important; }

.wrapper {
  position: relative;
  overflow: hidden; }

/*----------header----------*/
.header {
  position: relative;
  height: 120px;
  background: #fff;
  z-index: 3;
  padding-top: 7px; }

.header-light {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 198px;
  margin-top: -26px; }
  .header-light .container {
    border-bottom: 2px solid #fff; }
  .header-light .logo {
    padding-bottom: 0;
    padding-top: 11px; }
    .header-light .logo img {
      display: block;
      margin: 0 auto; }

.gdpr {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  max-width: 15vw; }
  .gdpr img {
    max-width: 100%; }

/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden; }

.bnr {
  padding-top: 26px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; }
  .bnr h1, .bnr h4 {
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    padding-bottom: 40px;
    line-height: 1.1;
    font-weight: 700; }
  .bnr h4 {
    font-size: 48px;
    text-transform: none; }
  .bnr h2 {
    font-size: 55px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 120px; }
  .bnr h3 {
    font-size: 58px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px; }
  .bnr article {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 60px; }
    .bnr article strong {
      display: block;
      font-size: 30px; }
    .bnr article a.button {
      margin-top: 30px;
      text-shadow: none;
      min-width: 120px; }
  .bnr__text {
    margin-bottom: 85px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75); }
  .bnr__form {
    background: rgba(0, 0, 0, 0.23);
    padding: 20px; }
    .bnr__form h4 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
      text-transform: uppercase;
      padding-bottom: 30px;
      font-weight: 300; }
    .bnr__form input, .bnr__form select {
      width: 100%;
      height: 43px;
      margin-bottom: 30px; }
    .bnr__form .button {
      width: 100%; }
  .bnr__btn {
    padding-top: 60px; }
    .bnr__btn .button {
      text-transform: uppercase;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 297px;
      box-shadow: 0 7px 13px rgba(251, 205, 4, 0.36); }
  .bnr.bnr-success .bnr__text, .bnr.bnr-thank .bnr__text {
    margin-bottom: 0; }
  .bnr.bnr-thank {
    padding: 155px 0; }
    .bnr.bnr-thank h4 {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
      color: #ffffff;
      font-size: 58px;
      font-weight: 700;
      letter-spacing: 0.58px;
      text-align: center;
      line-height: 1.1;
      margin-bottom: 100px; }
    .bnr.bnr-thank select, .bnr.bnr-thank input {
      opacity: 1;
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      width: 163px;
      height: 51px;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.75);
      border: none;
      padding: 0 17px;
      margin: 0 13px;
      border-radius: 0;
      background: #fff; }
      .bnr.bnr-thank select.input-date, .bnr.bnr-thank input.input-date {
        background: #fff url(../img/calendar-plus-o.png) no-repeat center right 12px; }

.bnr-light {
  padding-bottom: 150px; }

.download-button {
  padding: 20px 0 60px 0;
  text-align: center; }
  .download-button .text_center {
    padding-bottom: 25px; }
  .download-button .button {
    text-shadow: none; }

.logo {
  text-align: center;
  display: block;
  padding-bottom: 69px; }

.about {
  padding: 50px 0;
  background: url(../img/note.png) no-repeat 45px 35px, url(../img/dots.png) no-repeat top left; }
  .about article {
    text-align: center;
    font-size: 16px;
    color: #383838;
    font-weight: 300;
    padding-bottom: 55px; }
    .about article h2 {
      font-weight: 300;
      padding-bottom: 40px;
      color: #212020;
      font-size: 36px; }
  .about__item {
    border: 1px solid #dedede;
    border-radius: 3px;
    background: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #1f1f1f; }
    .about__item figcaption {
      padding-left: 16px; }

.info {
  background: url(../img/footer-bg.png) no-repeat bottom center;
  height: 649px;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  align-items: flex-end; }
  .info.info-success {
    background: url(../img/success-info-bg.jpg) no-repeat center;
    background-size: cover;
    height: 210px;
    align-items: center; }
    .info.info-success p {
      padding-bottom: 0; }
  .info.info-success-thank {
    background: url(../img/info-thank.jpg) no-repeat center;
    background-size: cover; }
  .info p {
    padding-bottom: 23px;
    text-align: center;
    padding-top: 10px;
    line-height: 2; }
  .info strong {
    display: block;
    font-size: 36px;
    padding-top: 20px;
    font-weight: 300;
    text-align: right; }

.bnr-information-wrapper {
  display: flex;
  flex-direction: column; }
  .bnr-information-wrapper > .container {
    flex: 1; }
  .bnr-information-wrapper .info {
    background-image: url(../img/info-opacity.png); }

.modal {
  background: #fff;
  display: none;
  padding: 0;
  width: 720px; }
  .modal .fancybox-close-small {
    color: #fff;
    font-size: 22px; }
  .modal__title {
    background: url(../img/modal-bg1.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 35px; }
    .modal__title h6 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 300;
      padding: 110px 0 25px 0; }
  .modal__form {
    padding: 0 18px 22px 18px; }
  .modal__form-item {
    margin-bottom: 21px; }
    .modal__form-item input {
      width: 100%;
      height: 43px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      background-color: #f4f7f8;
      color: #1a1a1a; }
    .modal__form-item .button {
      min-width: 320px;
      padding-top: 18px;
      padding-bottom: 18px; }

/*----------end main----------*/
/*----------footer----------*/
.footer {
  position: relative;
  overflow: hidden;
  padding: 25px 0;
  background: #1f1e1b;
  font-size: 12px;
  text-transform: uppercase; }
  .footer address {
    color: #fff;
    font-style: normal; }
  .footer__nav {
    text-align: right; }
    .footer__nav a {
      padding: 0 0 0 5px; }
      .footer__nav a:hover {
        opacity: 0.9; }

/*----------end footer----------*/
/*----------footer----------*/
.footer-blue {
  position: relative;
  overflow: hidden;
  background: #003c4c;
  padding: 65px 0 0 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300; }
  .footer-blue h6 {
    color: #21b2d1;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 10px; }
  .footer-blue .container {
    overflow: hidden; }

.foot_top {
  margin-bottom: 35px;
  background: url(../img/foot_bg.png) no-repeat 120px center; }

.foot_left {
  float: left;
  width: 240px;
  font-size: 15px;
  padding: 0 130px 0 0;
  overflow: hidden;
  box-sizing: content-box; }
  .foot_left a.logo_foot {
    margin-bottom: 23px;
    display: block; }
  .foot_left p {
    padding-bottom: 17px; }
    .foot_left p strong {
      font-size: 30px;
      font-weight: 300; }

.foot_center {
  float: left;
  width: 340px;
  overflow: hidden; }
  .foot_center .clear {
    padding-bottom: 28px; }
  .foot_center p {
    padding-right: 28px; }

.foot_list {
  width: 50%;
  float: left; }
  .foot_list li {
    line-height: 30px;
    font-size: 15px; }
    .foot_list li a {
      text-decoration: none; }
      .foot_list li a:hover {
        text-decoration: underline; }

.foot_right {
  float: right;
  width: 300px; }
  .foot_right form div {
    margin-bottom: 9px; }
  .foot_right input, .foot_right textarea {
    width: 300px;
    height: 39px;
    box-sizing: border-box;
    padding: 0 10px;
    color: #858585;
    font-size: 13px;
    font-family: "Museo", sans-serif;
    border: none;
    border-top: 1px solid #e0e7e9;
    border-bottom: 1px solid #e0e7e9;
    border-radius: 1px;
    resize: none;
    background: #ffffff; }
  .foot_right textarea {
    height: 120px;
    padding: 10px; }
  .foot_right .button {
    border-radius: 0;
    width: 300px;
    height: 46px;
    padding: 0;
    background: #12a7c7;
    color: #fff;
    border: none;
    font-size: 16px;
    box-shadow: none; }
    .foot_right .button:hover {
      background: #25bdde; }

.foot_bottom {
  padding: 24px 0;
  background: #05252d; }
  .foot_bottom .float_left {
    font-style: normal;
    font-size: 12px;
    color: #c2cdd0;
    text-transform: uppercase;
    line-height: 37px; }

/*----------end footer----------*/
@media only screen and (max-width: 1200px) {
  .bnr h1 {
    font-size: 40px; }
  img {
    max-width: 100%; }
  .foot_right {
    width: 100%;
    float: none;
    clear: both;
    text-align: center;
    padding-top: 20px; }
  .foot_center {
    float: right; }
  .foot_left {
    padding: 0 0 30px 0; } }

@media only screen and (max-width: 992px) {
  .bnr__text {
    text-align: center; }
  .bnr h2, .bnr h3 {
    padding-bottom: 30px;
    font-size: 35px; }
  .bnr article strong {
    font-size: 25px; }
  .bnr article {
    font-size: 20px; }
  .about__item {
    display: block;
    text-align: center;
    height: 100%; }
    .about__item figcaption {
      padding-left: 0; }
    .about__item img {
      display: block;
      margin: 20px auto; }
  .info strong {
    font-size: 30px; }
  .bnr.bnr-thank {
    padding: 40px 0; }
    .bnr.bnr-thank .logo img {
      max-width: 40%; }
  .bnr.bnr-thank h4 {
    font-size: 30px;
    margin-bottom: 30px; }
  .modal {
    max-width: 90%; }
  .modal__form-item .button {
    min-width: 10px; } }

@media only screen and (max-width: 767px) {
  .logo {
    padding-bottom: 25px; }
  .bnr h1, .bnr h4 {
    font-size: 24px;
    padding-bottom: 20px; }
  .bnr__text {
    font-size: 18px;
    margin-bottom: 30px; }
  .bnr__form h4 {
    font-size: 24px; }
  .about__item {
    margin-bottom: 25px;
    height: auto; }
  .about article h2 {
    font-size: 26px;
    padding-bottom: 20px; }
  .info {
    height: 580px;
    padding-bottom: 20px; }
    .info img {
      display: block;
      margin: 0 auto; }
    .info p {
      padding-bottom: 0; }
    .info strong {
      text-align: center;
      font-size: 24px; }
  .footer {
    text-align: center; }
  .footer__nav {
    text-align: center;
    padding-top: 15px; }
    .footer__nav a {
      padding-left: 3px;
      padding-right: 3px; }
  .about {
    background: url(../img/dots.png) no-repeat top left; }
  .info.info-success {
    height: auto;
    padding: 20px 0; }
  .header {
    height: auto;
    padding: 10px 0; }
  .bnr.bnr-thank select, .bnr.bnr-thank input {
    margin-bottom: 15px;
    font-size: 16px; }
  .bnr.bnr-thank h4 {
    font-size: 21px; }
  .header-light {
    margin-bottom: 50px; }
  .bnr-light {
    padding-bottom: 0; }
  .foot_left, .foot_center {
    float: none;
    width: 100%;
    padding: 0 0 30px 0; } }
