<!-- index.nunjucks -->
{% extends "layout-blue.html" %}

{% block content %}
<div class="gdpr"><a href="#"><img src="img/gdpr.png" alt=""></a></div>
<!-- banner -->
<div class="bnr bnr-light" style="background-image: url(img/background3.jpg)">
    <header class="header-light">
        <div class="container"><a href="/" class="logo"><img src="img/logo-white.png" alt=""></a></div>
    </header>
    <div class="container">
        <div class="bnr-information">
            <div class="bnr__text">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text_center">
                        <h4 class="ttn">Modernized Property Management System native to the Salesforce Platform.</h4>
                        <p>Enterprise hospitality cloud computing, done right. <br> Dont fight change, Dont fight the cloud. Embrace it.</p>
                    </div>
                </div>
                <div class="download-button">
                    <div class="text_center"><img src="img/download.png" alt=""></div>
                    <a data-fancybox="" data-src="#modal2" href="javascript:;" class="button">Download Information</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- about -->
<div class="about">
    <div class="container">
        <article>
            <h2>About this some text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
        </article>
    </div>
</div>
<!-- /about -->
{% endblock %}