<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr" style="background-image: url(img/background2.jpg)">
    <div class="bnr-information-wrapper">
    <div class="container">
        <a href="/" class="logo"><img src="img/logo.png" alt=""></a>
        <div class="bnr-information">
            <div class="bnr__text">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text_center">
                        <h1 class="ttn">Modernized Property Management System native to the Salesforce Platform.</h1>
                        <p>Enterprise hospitality cloud computing, done right. Dont fight change, Dont fight the cloud. Embrace it.</p>
                    </div>
                </div>
                <div class="download-button">
                    <div class="text_center"><img src="img/download.png" alt=""></div>
                    <a data-fancybox="" data-src="#modal1" href="javascript:;" class="button">Download Information</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- bottom -->
    <div class="info info-success info-success-thank">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/saleforce-partner.png" alt="">
                </div>
                <div class="col-md-5">
                    <p>101 N Wacker Dr., Suite 110 Chicago, IL 60606 <br>
                        sales@bookingninjas.com</p>
                </div>
                <div class="col-md-4">
                    <strong>(866) 217 3210</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- /bottom -->
    </div>
</div>
<!-- /banner -->

{% endblock %}