<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- header -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-6"><img src="img/logo-left.png" alt=""></div>
            <div class="col-6"><img src="img/logo_right.png" alt="" class="float_right"></div>
        </div>
    </div>
</div>
<!-- /header -->
<!-- banner -->
<div class="bnr bnr-thank" style="background-image: url(img/thank-bnr.jpg)">
    <div class="container">
        <div class="bnr__text">
           <div class="row">
               <div class="col-lg-12">
                   <h4>Modernized Property Management System native to the Salesforce Platform
                    on ITB show</h4>
                   <article>
                       <p>Suggested meeting time	
                           <select>
                               <option>18:00</option>
                               <option>19:00</option>
                               <option>20:00</option>
                           </select>
                        date
                        <input type="text" class="input-date" value="28.02">
                        </p>
                        <div class="bnr__btn">
                            <button class="button">Submit</button>
                        </div>
                   </article>
               </div>
           </div>
        </div>
    </div>
</div>
<!-- /banner -->

<!-- bottom -->
<div class="info info-success info-success-thank">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="img/saleforce-partner.png" alt="">
            </div>
            <div class="col-md-5">
                <p>101 N Wacker Dr., Suite 110 Chicago, IL 60606 <br>
                    sales@bookingninjas.com</p>
            </div>
            <div class="col-md-4">
                <strong>(866) 217 3210</strong>
            </div>
        </div>
    </div>
</div>
<!-- /bottom -->
{% endblock %}