<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr bnr-success" style="background-image: url(img/success-bg.jpg)">
    <div class="container">
        <a href="/" class="logo"><img src="img/logo.png" alt=""></a>
        <div class="bnr__text">
           <div class="row">
               <div class="col-lg-12">
                   <h2>Succesfully Submitted!</h2>
                   <article>
                       <strong>Thank you for your enquiry.</strong>
                        Our conference team will be in touch shortly. <br>
                        <a href="#" class="button">back</a>
                   </article>
               </div>
           </div>
        </div>
    </div>
</div>
<!-- /banner -->

<!-- bottom -->
<div class="info info-success">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="img/saleforce-partner.png" alt="">
            </div>
            <div class="col-md-5">
                <p>101 N Wacker Dr., Suite 110 Chicago, IL 60606 <br>
                    sales@bookingninjas.com</p>
            </div>
            <div class="col-md-4">
                <strong>(866) 217 3210</strong>
            </div>
        </div>
    </div>
</div>
<!-- /bottom -->
{% endblock %}